 .sidebar {
    background-color: #1b2227;
    height: 100%;
  }
  svg{
    position: absolute;
    margin-left: -5px;
  }
  
  .sidebar li {
    padding: 7% 2% 2% 7% ;
  }

   .sidebar a {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 10%;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
  }

  .sidebar a.active {
    color: #00D48A;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #00d48a2f;
    color: #00D48A;
  }
  #logo{
    margin-top: 5%;
    width: 80%;
  
  } 
