.header{
  width: 100%;
  height: 9vh;
  background-color: white;
  border:1px solid white;
  top: 0;
  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.header>h3{
  width: 12rem;
  text-align: center;
  margin: 1.2vh auto auto 1%;
  border-radius: 20px;
  padding: 7px;
  background-color: #00D48A;
  color: white;
}
.spinner{
  margin: 30vh auto auto 47%;
}

.body{
  width: 90%;
  margin: 10vh auto auto 3%;
}

.search{
  margin: 15vh auto auto 8%;
}
.search>input{
  width: 14rem;
  border: 1px solid #00D48A;
  border-radius: 8px;
}
.actions{
   display: flex;
   justify-content: flex-end;
}
.actions>button:nth-child(1){
  width: 10%;
  margin: auto 1% auto 1%;
  padding: 1%;
  color: white;
  background-color: #00D48A;
  border: #5F27CD;
  border-radius: 5px;
}
.actions>button:nth-child(2){
  width: 11%;
  margin: auto 1% auto 1%;
  padding: 1%;
  color: white;
  background-color: #00D48A;
  border-radius: 5px;
}
table {
  position: relative;
  width: 80%;
  margin-top: 3vh;
  margin-left: 8%;
}
tr{
  border: 2px solid lightgrey;
}
.size{
  width: 80%;
  margin-left: 8%;
}
.delete{
  height: 5vh;
  justify-content: center;
  background-color: #00D48A;
}
button:hover{
  transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}


/* Update form */
a {
  color: #00D48A;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px; 
  color: #00D48A;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%;
  margin: 20vh auto auto auto;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.third {
  background-color: #00D48A;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
  margin: 5% 5% 5% 5%;

}

.third:hover {
  background-color: #00D48A;
}

.second {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

.second:focus {
  background-color: #fff;
  border-bottom: 2px solid #00D48A;
}

.second:placeholder {
  color: #00D48A;
}

