#myform{
  width: 100%;
  margin: 30vh auto auto 15%;
}

img{
  width: 15%;
  margin: auto auto 3% 5%;
  position: absolute;
}
h2{
  color: grey;
}

input {
  width: 60%;
  border: none;
  border: 1px solid #00D48A;
  padding: 6px;
  margin-bottom: 15px;
  color: black;
  align-items: center;
}

button {
width: 15%;
height: 5vh;
cursor: pointer;
font-size: medium;
background-color: #00D48A;
border: 1px solid #00D48A;
border-radius: 5px;
color: #ffffff;
}

#orange {
    margin-left: 2%;
}

.login {
    margin-top:-6%;
    margin-left: 20%;

}
.card-body
{
  width: 100%;
  margin: 1vh auto auto auto;
}
.main{
  display: grid;
  grid-template-columns: 40% 60%;
}
.time{
  margin: 0%;
  padding: 0%;
  width: 70%;
  height: 100vh;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 40%;
  position: fixed;
}