<div class="header" >
    <h3>Dashboard</h3>
 </div>
 <!-- Loading Spinner -->
 <div class="spinner" *ngIf="false">
    <mat-spinner></mat-spinner>
 </div>
 <div class="content">
    <div class="overall">
       <h2>Overall Board</h2>
    </div>
   <div class="report" >
      <div class="card text-white bg-secondary mb-3">
          <div class="card-header">ProGrads</div>
          <div class="card-body">
              <p class="card-text">Overall : 100</p>
              <p class="card-text">100</p>
          </div>
      </div>
      <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Mentors</div>
          <div class="card-body">
              <p class="card-text">Overall : 10</p>
              <p class="card-text">10</p>
          </div>
      </div>
      <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Squads</div>
          <div class="card-body">
              <p class="card-text">Overall : 15</p>
              <p class="card-text">15</p>
          </div>
      </div>
   </div>
 </div>
 